[Desktop Entry]
Name=CodeStorm
Icon=/home/{{USER}}/.local/share/icons/codestorm.png
Comment="VSCode Optimized for PHP Development"
Exec="/home/{{USER}}/.local/bin/codestorm" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false